*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	height: 100%;

	@include respond(large-deskop) {
		height: auto;
	}

	@include respond(tab-land) {
		font-size: 56.25%; // Base font 9px
	}

	@include respond(tab-port) {
		font-size: 50%; // Base font 8px
	}
}

body {
	box-sizing: border-box;
	// height: 100%;

	@include respond(large-deskop) {
		height: 100%;
	}

	@include respond(tab-port) {
		padding-bottom: 8rem;
	}
}

main {
	overflow: hidden;
	height: 100%;

	@include respond(large-deskop) {
		margin: 0 10% 0 10%;
	}

	@include respond(tab-land) {
		height: auto;
	}
}
