.container {
  position: relative;
}

.cart {
  width: 67%;
  float: left;

  @include respond(tab-land) {
    width: 100%;
  }
}

.summary {
  width: 33%;
  height: 100vh;
  float: right;
  background-color: #e5e5e5;

  @include respond(tab-land) {
    width: 100%;
    height: auto;
  }
}

.saved {
  width: 67%;
  float: left;

  @include respond(tab-land) {
    width: 100%;
  }
}
