.cart {
  font-size: 1.6rem;
  font-weight: 700;

  &__content {
    position: relative;
    background-color: white;
    margin: 8rem 3rem 8rem 4.5rem;
    height: 100%;
  }

  &__heading {
    margin-bottom: 6.4rem;
  }

  &__list {
    min-height: calc(
      11.8rem * 2
    ); // 2 song cart items for design purposes for now
    padding-left: 2rem;
    margin-bottom: 6.4rem;
    margin-right: 3.15rem;
  }

  &__item {
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 8rem;
    border-bottom: $border-bottom-grey;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;

    &:not(:first-child) {
      padding-top: 1.6rem;
    }
  }

  &__img {
    vertical-align: middle;
    display: inline-block;
    width: 8.8rem;
    height: auto;
    border-radius: 3px;
  }

  &__description {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1.6rem;
  }

  &__artist {
    color: $color-gray-dark-2;
    font-weight: 400;
  }

  &__media-type {
    text-align: center;
  }

  &__icon-type {
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
  }

  &__text-type {
    color: $color-gray-dark-1;
    width: fit-content;
    display: inline-block;
  }

  &__edit-item {
    position: absolute;
    bottom: 4.8rem;
    right: 0;
    color: $color-gray-dark-2;
  }

  &__verbar {
    margin: 0 0.1rem;
  }

  &__button {
    margin-top: 1.6rem;

    a {
      font-weight: 400;
      padding-left: 0.9rem;
    }
  }
}
