.footer {
	background-color: #282828;
	clear: both;
	color: $color-gray-dark-1;
	overflow: hidden;

	&__primary {
		padding: 4rem 8rem;

		&-content {
			display: flex;
			position: relative;
			flex-wrap: wrap-reverse;
			justify-content: space-between;
		}

		@include respond(phone) {
			padding: 4rem 1rem;
		}
	}

	&__secondary {
		width: 100%;
		background-color: #171717;
		padding: 1.8rem 4rem 1.1rem 4rem;

		&-content {
			font-size: 1.4rem;
			display: flex;
			margin: 0;
			align-items: center;
			justify-content: space-between;

			@include respond(phone) {
				display: block;
				text-align: center;
			}
		}
	}

	&__list {
		list-style-type: none;

		&:not(:last-child) {
			margin-bottom: 2.8rem;
		}

		&.footer__list-social-cir-icon-list {
			display: inline-block;
			width: fit-content;
			padding-right: 3rem;
			margin-bottom: 0;
		}

		&-secondary {
			font-size: 1.4rem;
			margin-bottom: 0 !important;
		}
	}

	&__item {
		// Navigation Headers
		&:first-child {
			color: $color-gray-light;
			font-size: 2rem;

			@include respond(phone-small) {
				font-size: 1.7rem;
			}
		}

		&:not(:last-child) {
			margin-bottom: 0.8rem;
		}

		&-social-cir-icon {
			display: inline-block;

			&:not(:last-child) {
				margin-right: 1.6rem;
			}
		}

		&-secondary {
			display: inline-block;
			margin-bottom: 0 !important;
		}
	}

	&__col {
		width: 15%;

		@include respond(tab-land) {
			margin-top: 30rem;
		}

		&-large {
			width: 35%;
			overflow: hidden;

			@include respond(tab-land) {
				width: fit-content;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}

			@include respond(phone) {
				width: 100%;
			}

			&-resources {
				margin-bottom: 2.8rem;
			}
		}
	}

	&__support {
		margin-top: 3.2rem;
	}

	&__link {
		text-decoration: none;
		color: $color-gray-dark-1;

		&-support span {
			&:not(:last-child) {
				margin-right: 1.1rem;
			}
		}

		&-secondary {
			font-size: 1.4rem;
		}
	}

	&__socials {
		padding-top: 2.6rem;
		width: fit-content;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		@include respond(phone) {
			text-align: center;
		}
	}

	&__socials--square {
		height: 3.8rem;
		width: fit-content;
		display: flex;

		& div {
			margin-right: 0.5rem;
		}
	}

	&__lang-selection {
		color: $color-gray-dark-1;
		vertical-align: middle;

		& span {
			display: inline-block;
		}
	}
}

// Facebook Icon
.fb-like {
}

// Twitter Icon
.twitter-follow-button-rendered {
}

// Sticky footer
.sticky-footer {
	background-color: white;
	width: 100%;
	height: 8rem;
	position: fixed;
	bottom: 0;
	z-index: 10;
	box-shadow: 0 -4px 10px rgba(#0000, 0.05);

	@media only screen and (min-width: 900px) {
		display: none;
	}
}

.sticky-footer-content {
	margin: 1.6rem;
}

.sticky-footer-total-credits {
	font-size: 1.4rem;
	font-weight: 700;
	float: left;
	margin-left: 1.8rem;
}

.sticky-footer-btn {
	float: right;

	a {
		padding: 1.6rem 3rem;
	}
}

// Unsure why this wasn't working while nested in &__item selector
.footer__item-subscribe-btn {
	display: inline-block;
	transform: translate(-5rem, 0.2rem);

	@include respond(tab-land) {
		transform: translate(-5rem, 0.1rem);
	}

	@include respond(tab-port) {
		transform: translate(-5rem, 0);
	}
}

.footer__item-subscribe-input {
	width: 65%;
	height: 5rem;
	border: 1px solid $color-gray-dark-1;
	border-radius: 3px;

	&::placeholder {
		color: $color-gray-dark-1;
	}
}
