.footer {
  // background-color: cornflowerblue;
  background-color: #282828;
  clear: both;
  color: $color-gray-dark-1;

  &__primary {
    padding: 4rem 14rem;

    &-content {
      display: flex;
    }
  }

  &__secondary {
    width: 100%;
    background-color: #171717;
    padding: 1.8rem 26.5rem 1.1rem 13.5rem;

    &-content {
      font-size: 1.4rem;
      display: flex;
      margin: 0;
      // margin: 1.8rem 1.45rem 1.1rem 1.35rem;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__list {
    list-style-type: none;

    &:not(:last-child) {
      margin-bottom: 2.8rem;
    }

    &-social-cir-icon-list {
      display: inline-block;
      width: fit-content;
      padding-right: 7.2rem;
    }

    &-secondary {
      font-size: 1.4rem;
      margin-bottom: 0 !important;
    }
  }

  &__item {
    // Navigation Headers
    &:first-child {
      color: $color-gray-light;
      font-size: 2rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }

    &-social-cir-icon {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1.6rem;
      }
    }

    &-secondary {
      display: inline-block;
      margin-bottom: 0 !important;
    }
  }

  &__col {
    // background-color: crimson;
    margin-right: 1.2rem;
    width: 20%;

    &-large {
      // background-color: lawngreen;
      width: 40%;

      &-resources {
        margin-bottom: 2.8rem;
      }
    }
  }

  &__support {
    margin-top: 3.2rem;
  }

  &__link {
    text-decoration: none;
    color: $color-gray-dark-1;

    &-support span {
      &:not(:last-child) {
        margin-right: 1.1rem;
      }
    }

    &-secondary {
      font-size: 1.4rem;
    }
  }

  &__socials {
    padding-top: 2.6rem;
  }

  &__socials--square {
    height: 3.8rem;
    width: fit-content;
    display: inline-block;

    & div {
      margin-right: 0.5rem;
    }
  }

  &__lang-selection {
    color: $color-gray-dark-1;
    vertical-align: middle;

    & span {
      display: inline-block;
    }
  }
}

// Unsure why this wasn't working while nested in &__item selector
.footer__item-subscribe-btn {
  display: inline-block;
  transform: translate(-0.4rem, 0.2rem);
}

.footer__item-subscribe-input {
  width: 25.8rem;
  height: 5rem;
  border: 1px solid $color-gray-dark-1;
  border-radius: 3px;

  // Temporary fix
  @media only screen and (max-width: 700px) {
    display: none;
  }

  &::placeholder {
    color: $color-gray-dark-1;
  }
}
